- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width")

    - //link(rel="icon",href="/public/images/favicon.jpg")
    link(rel="stylesheet",href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")

    //- script(src="https://use.fontawesome.com/028467eb54.js")
    script(defer="true",src="https://use.fontawesome.com/releases/v5.0.13/js/all.js",integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe",crossorigin="anonymous")
    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data||{})}

    title euphoritech
  body
    div#euphoritech
