- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width")
    
    - //link(rel="icon",href="/public/images/favicon.jpg")
    link(rel="stylesheet",href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")
    
    script(src="https://use.fontawesome.com/028467eb54.js")
    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data||{})}
    
    title euphoritech
    link(href="/public/css/app.33ab6d85e101f2f50810d32a5914dae4.css" rel="stylesheet")
  body
    div#euphoritech
    script(type="text/javascript" src="/public/js/manifest.3db480806832433f0d0e.js")
    script(type="text/javascript" src="/public/js/vendor.20a04d9ec5e3caaf9409.js")
    script(type="text/javascript" src="/public/js/app.56660b6ded16d11618aa.js")