- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width")
    
    - //link(rel="icon",href="/public/images/favicon.jpg")
    link(rel="stylesheet",href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")
    
    script(src="https://use.fontawesome.com/028467eb54.js")
    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data||{})}
    
    title euphoritech
    link(href="/public/css/app.102c85cbdb5648ead6d270ac7783e71f.css" rel="stylesheet")
  body
    div#euphoritech
    script(type="text/javascript" src="/public/js/manifest.8925aad0d78f1c1bdb54.js")
    script(type="text/javascript" src="/public/js/vendor.4d6ed377460c5c38b63b.js")
    script(type="text/javascript" src="/public/js/app.8e0a746bd350bfaf08eb.js")