- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width")
    
    - //link(rel="icon",href="/public/images/favicon.jpg")
    link(rel="stylesheet",href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")
    
    script(src="https://use.fontawesome.com/028467eb54.js")
    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data||{})}
    
    title euphoritech
    link(href="/public/css/app.74ae2a8b0a1128722f12b8b6f348ac9d.css" rel="stylesheet")
  body
    div#euphoritech
    script(type="text/javascript" src="/public/js/manifest.60b2d4241a5949eae0e6.js")
    script(type="text/javascript" src="/public/js/vendor.1bc6fd88f0881e68208b.js")
    script(type="text/javascript" src="/public/js/app.82ba00e2254180abba48.js")