- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width")
    
    - //link(rel="icon",href="/public/images/favicon.jpg")
    link(rel="stylesheet",href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")
    
    script(src="https://use.fontawesome.com/028467eb54.js")
    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data||{})}
    
    title euphoritech
    link(href="/public/css/app.af7d863a3d7b647d74368bde85a9dc9c.css" rel="stylesheet")
  body
    div#euphoritech
    script(type="text/javascript" src="/public/js/manifest.acb5077c6cf1ab58cb75.js")
    script(type="text/javascript" src="/public/js/vendor.194d80126b753140fa8e.js")
    script(type="text/javascript" src="/public/js/app.e065f76eadad24b41561.js")