- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width")
    
    - //link(rel="icon",href="/public/images/favicon.jpg")
    link(rel="stylesheet",href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")
    
    script(src="https://use.fontawesome.com/028467eb54.js")
    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data||{})}
    
    title euphoritech
    link(href="/public/css/app.b73c69b2f7ce91fd19c83f26f1687f24.css" rel="stylesheet")
  body
    div#euphoritech
    script(type="text/javascript" src="/public/js/manifest.6aa2c72ded5c0e532e74.js")
    script(type="text/javascript" src="/public/js/vendor.88236a834b3822028a1b.js")
    script(type="text/javascript" src="/public/js/app.01ec85f4a0ce101bc0f7.js")