- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width")
    
    - //link(rel="icon",href="/public/images/favicon.jpg")
    link(rel="stylesheet",href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")
    
    //- script(src="https://use.fontawesome.com/028467eb54.js")
    script(defer="true",src="https://use.fontawesome.com/releases/v5.0.13/js/all.js",integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe",crossorigin="anonymous")
    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data||{})}
    
    title euphoritech
    link(href="/public/css/app.e2548c8e1a18a826c5c19ed4807d6e07.css" rel="stylesheet")
  body
    div#euphoritech
    script(type="text/javascript" src="/public/js/manifest.9d3adc03f6be1a614d3e.js")
    script(type="text/javascript" src="/public/js/vendor.7d80bd5695e9ab2fcef4.js")
    script(type="text/javascript" src="/public/js/app.7c26a2c78828674ab878.js")